.Container{

  .milaap{
    color: #FFFFFF;
    // display:inline;
    // padding-left: 1em;
    // padding-top: 1em;
    padding: .5em 0px 0px .7em;
  }
  .devsnest{
    color: #4F46E5;
    margin-bottom:0px;
    display:inline;
    padding-right:.1em;

  }


  .wlcm{
    color: #FFFFFF;
    font-size: 180px;
    // padding: 135px;
    // margin: 0 auto;
    position: absolute;
width: 1487px;
height: 279px;
left: 150px;
top: 120px;

  }

}