.teamnav {
  // position: absolute;
  width: 96%;
  height: 138px;
  left: 92px;
  top: 402px;
  margin: 0 auto;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(79, 70, 229, 0.45);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 19px;;
}
