.teams {
  width: 95.2vw;
  height: 79.16vh;
  margin: 7% auto 0;
  background: #ffffff;
  border-radius: 20px;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      padding: 20px 60px;
    }
  }
}

p {
  font-family: Ubuntu, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 60px;
  line-height: 68.94px;
  color: #4f46e5;
}
